<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Site de Petites Annonces</title>
  <meta name="description" content="Site de petites annonces">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <div class="header-content">
      <img src="./img/Logo.svg" alt="click & find Logo" id="logo">
      <h1>Click&Find</h1>
    </div>
  </header>
  <main>
    <h1>Petites Annonces</h1>
    <form method="GET" action="/" class="search-container">
      <input type="text" name="search" id="searchInput" value="<%= search %>" placeholder="Rechercher des annonces... ">
      <button type="submit">Rechercher</button>
    </form>
    <button onclick="document.getElementById('postForm').classList.toggle('hidden')">Poster une
      annonce</button>
    <div id="postForm" class="hidden">
      <h2>Poster une Annonce</h2>
      <form method="POST" action="/api/ads" class="post-annonce">
        <input type="email" name="email" id="email" placeholder="Votre email" required>
        <input type="tel" name="tel" id="tel" placeholder="Votre numéro de téléphone" required>
        <textarea name="description" id="description" placeholder="Description de l'annonce" required></textarea>
        <button type="submit">Poster</button>
      </form>
    </div>
    <div id="adsContainer" class="ads">
      <% ads.forEach(ad=> { %>
        <div class="ad">
          <h3>
            <%= ad.email %>
          </h3>
          <p>
            <%= ad.phone %>
          </p>
          <p>
            <%= ad.description %>
          </p>
        </div>
        <% }); %>
    </div>
    <div id="pagination">
      <% for (let i=1; i <=totalPages; i++) { %>
        <form method="GET" action="/" style="display: inline;">
          <input type="hidden" name="page" value="<%= i %>">
          <input type="hidden" name="search" value="<%= search %>">
          <button class="page-number" type="submit" <%=i===page ? 'disabled' : '' %>><%= i %></button>
        </form>
        <% } %>
    </div>
  </main>
</body>

</html>